﻿@model IEnumerable<OrbitalWitness.BackendTask.Core.LeaseScheduleWrapperOutput>
@{
    ViewData["Title"] = "Home Page";
}
<form method="post" enctype="multipart/form-data">
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label>This app shows the results when parsing a schedule of lease JSON file in the same format as provided in
                <a href="/schedule_of_notices_of_lease_examples.json">schedule_of_notices_of_lease_examples.json</a></label>
                 (Right-click > Save link as...)
            <br />
            <br />
            <label for="formFileLg" class="form-label">Upload JSON File</label>
        </div>
        <div class="col-8">
            <input class="form-control form-control-lg" accept=".json" name="jsonFile" type="file">

        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-lg">Parse JSON</button>

        </div>
    </div>
</form>
@if (Model?.Any() == true)
{
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <td>Entry Number</td>
                    <td>Registration date and plan ref</td>
                    <td>Property description</td>
                    <td>Date of lease and term</td>
                    <td>Lessee's title</td>
                    <td>Notes</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.SelectMany(e => e.LeaseSchedule.ScheduleEntry))
                {
                    <tr>
                        <td>@item?.EntryNumber</td>
                        <td>@item?.RegistrationDateAndPlanRef</td>
                        <td>@item?.PropertyDescription</td>
                        <td>@item?.DateOfLeaseAndTerm</td>
                        <td>@item?.LesseesTitle</td>
                        <td>
                            @if (item?.Notes?.Any() == true)
                            {
                                <ul>
                                    @foreach (var note in item.Notes)
                                    {
                                        <li>@note</li>
                                    }
                                </ul>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
